<h2>Technologies Used</h2>
<div class="list-group">
  <a href="http://sailsjs.org/" class="list-group-item">
    <h4 class="list-group-item-heading">Sails JS</h4>
    <p class="list-group-item-text">Real-time MVC framework built on Node.js</p>
  </a>
  <a href="http://nodejs.org/" class="list-group-item">
    <h4 class="list-group-item-heading">Node.js</h4>
    <p class="list-group-item-text">Server-side runtime environment for creating JavaScript web applications</p>
  </a>
  <a href="http://socket.io/" class="list-group-item">
    <h4 class="list-group-item-heading">Socket.io (bundled with Sails)</h4>
    <p class="list-group-item-text">Enables real-time bidirectional event-based communication</p>
  </a>
  <a href="http://getbootstrap.com/" class="list-group-item">
    <h4 class="list-group-item-heading">Bootstrap</h4>
    <p class="list-group-item-text">HTML, CSS, and JS framework for developing responsive, mobile first projects on the web</p>
  </a>
  <a href="http://jquery.com/" class="list-group-item">
    <h4 class="list-group-item-heading">jQuery</h4>
    <p class="list-group-item-text">A fast, small, and feature-rich JavaScript library for client-side DOM manipulation and traversal</p>
  </a>
  <a href="http://www.chartjs.org/" class="list-group-item">
    <h4 class="list-group-item-heading">Chart.js</h4>
    <p class="list-group-item-text">Simple, clean and engaging HTML5 based JavaScript charts</p>
  </a>
</div>