<a href="/poll/new/" class="btn btn-primary" style="float:right;"><span class="glyphicon glyphicon-plus"></span> Create a New Poll</a>
<h1>Pick a Poll:</h1>
<div id="poll_list_contain">
<% if(polls.length){ %>
	<ul id="poll_list" class="list-group">
	<% _.each(polls, function(poll){ %>
        <% var d = new Date(poll.createdAt); %>
		<li data-id="<%= poll.id %>" class="list-group-item"><a href="/poll/show/<%=poll.id%>"><%= poll.title %></a> (<%= d.toLocaleDateString() + ', ' + d.toLocaleTimeString() %>)</li>
	<% }); %>
	</ul>
<% }else{ %>
<p>No polls... yet.</p>
<% } %>
</div>