<h1>Pick a Poll:</h1>
<a href="/poll/new/">Create a New Poll</a>
<% if(polls.length){ %>
	<ul>
	<% _.each(polls, function(poll){ %>
		<li data-id="<%= poll.id %>"><a href="/poll/show/<%=poll.id%>"><%= poll.title %></a> (<%= poll.createdAt %>)</li>
	<% }); %>
	</ul>
<% }else{ %>
<p>No polls... yet.</p>
<% } %>