<form action="/poll/create" method="post">
	<label for="poll_title">Title</label>
	<input type="text" name="title" id="poll_title" required />
	<br />
	<label for="poll_descr">Description</label>
	<textarea id="poll_descr" name="description"></textarea>
	<br />
	<label for="poll_option_1">Option 1 Label</label>
	<input type="text" id="poll_option_1" name="poll_options[]" />
	<br />
	<label for="poll_option_1">Option 2 Label</label>
	<input type="text" id="poll_option_2" name="poll_options[]" />
	<br />
	<label for="poll_option_1">Option 3 Label</label>
	<input type="text" id="poll_option_3" name="poll_options[]" />
	<br />
	<label for="poll_option_1">Option 4 Label</label>
	<input type="text" id="poll_option_4" name="poll_options[]" />
	<br />
	<label for="poll_option_1">Option 5 Label</label>
	<input type="text" id="poll_option_5" name="poll_options[]" />
	<br />
	<label for="poll_option_1">Option 6 Label</label>
	<input type="text" id="poll_option_6" name="poll_options[]" />
	<br />
	<input type="hidden" name="_csrf" value="<%= _csrf %>" />
	<input type="submit" value="Submit" />
</form>